name: Build and Test

permissions:
  checks: write
  pull-requests: write

on: [ push ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          submodules: recursive

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: 21

      - name: Make amper executable
        run: chmod +x ./amper

      - name: Build with Amper
        run: ./amper build

      - name: Run tests with Amper
        run: ./amper test

      - name: Upload Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: '**/build/reports/*/jvm/TEST-junit-jupiter.xml'