name: Build and Test

permissions:
  checks: write
  pull-requests: write

on: [ push ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          submodules: recursive

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'jetbrains'
          java-version: 21

      - name: Cache Amper
        uses: actions/cache@v4
        with:
          path: ~/.cache/JetBrains/Amper
          key: ${{ runner.os }}-amper-${{ hashFiles('**/*.amper', '**/module.yaml', '**/project.yaml') }}
          restore-keys: |
            ${{ runner.os }}-amper-

      - name: Make amper executable
        run: chmod +x ./amper

      - name: Build with Amper
        run: |
          set -euo pipefail
          ./amper build

      - name: Run tests with Amper
        run: |
          set -euo pipefail
          ./amper test

      - name: Upload Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()  # still publish even if tests failed
        with:
          files: '**/build/reports/*/jvm/TEST-junit-jupiter.xml'
          check_name: "Amper Tests"